.album-table-wrapper {
    overflow-y: scroll;
    height: 70vh;
    width: 80vw;
    max-width: 1920px;
}

.album-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.albums-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}