.album-table-wrapper {
    overflow-y: scroll;
    height: 70vh;
    width: 80vw;
    max-width: 1920px;
    height: fit-content;
    max-height: 65vh;
}

.album-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.albums-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-table-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.album-table-pagination select {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1em;
}

.album-table-pagination button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.album-table-pagination button:disabled {
    color: lightgray;
    cursor: none;
}