.artist-table-wrapper {
    overflow-y: scroll;
    height: 70vh;
    width: 80vw;
    max-width: 1920px;
    height: fit-content;
    max-height: 65vh;
}

.artists-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}