.genre-table {
    width: 100%;
    border-style: none;
    font-size: 0.8em;
    line-height: 0.8em;
}

.bold {
    font-weight: bold;
}

th,
td {
    padding: 0.4em;
    box-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.18);
}

th {
    text-align: left;
}

td {
    text-align: center;
}

td:nth-child(1) {
    width: 15%;
}

td:nth-child(2) {
    width: 5%;
    font-size: 1.4em;
    padding: 0px;
}

td:nth-child(3) {
    width: 7%;
    text-align: center;
}

td:nth-child(4) {
    width: 30%;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(6) {
    width: fit-content;
}

td:nth-child(7),
td:nth-child(8) {
    width: 5%;
}

.collapse-button {
    background: none;
    border: none;
    font-size: 14px;
    margin-right: 5px;
}

.child-genres {
    background-color: #f9f9f9;
}

.genre-button {
    display: flex;
    align-items: center;
}

.genre-name-button {
    background-color: transparent;
    border: none;
    font-family: var(--font-titles);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    word-spacing: -0.01em;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.arrow-icon {
    font-size: 1em;
}

.popular-artists-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0em;
    word-spacing: -0.1em;
    padding: 0em 0.8em;
    letter-spacing: -0.1em;
}

.music-player {
    height: 82px;
    width: 100%;
    border: none;
}

.countries-list {
    list-style: none;
    margin: 0em;
    padding: 1em;
}

.edit-icon,
.delete-icon {
    transform: scale(1.5);
}

.icon-button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .hidden-1280 {
        display: none;
    }
}

@media (max-width: 1024px) {
    .hidden-1024 {
        display: none;
    }

    .genre-description {
        letter-spacing: -0.18em;
    }
}