nav {
    padding: 0.5em; 
    width: min(100%, 1280px); 
    height: 100%;
    display: flex; 
    flex-direction: row; 
    align-items: end; 
}

.--logo {
    background-color: var(--colour-secondary);
    border-radius: 0.8em;
    color: white;
    display: flex; 
    align-items: center;
    flex-direction: column; 
    padding: 0.75em;
    max-width: fit-content;
    box-shadow: 0.2em 0.2em 0.95em rgba(0, 0, 0, 0.18);
}

.--logo > * {
    margin: 0;
    line-height: 0.25em;
}

.--logo-icon {
    font-size: 2.5em;
    margin-bottom: 0.35em; 
    margin-top: 0.1em;
}

.--logo-text {
    font-family: var(--font-titles);
    font-size: 2em;
    letter-spacing: 0.035em;
}

.--navbarlinks {
    padding: 0em 0.75em;
    margin: 0;
    display: flex; 
    justify-content: space-around;
    width: min(100%, 70vw); 
    height: 100%;
}

.--navbarlinks li {
    font-family: var(--font-titles); 
    list-style: none; 
    font-weight: bold; 
    font-size: 1.75em; 
    letter-spacing: 0.05em; 
    align-self: flex-end; 
}

.--navbarlinks a {
    text-decoration: none;

}

@media (max-width: 1280px) {
    nav {
        align-items: center; 
        padding: 0.05em; 
    }

    .--logo {
        flex-direction: row; 
        padding: 0.4em 0.75em;
    }

    .--logo-icon {
        font-size: 1.5em;
    }

    .--logo-text {
        font-size: 1.5em;
        letter-spacing: 0.02em;
    }

    .--navbarlinks li {
        font-size: 1.5em;
        margin: 0.05em;  
    }
}

@media (max-width: 1024px) {
    nav {
        flex-direction: column; 
        align-items: center; 
    }

    .--navbarlinks {
        padding: 0;
    }
}

@media (max-width: 900px) {
    .--navbarlinks li {
        letter-spacing: 0.015em;
    }
}